# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite
*.sqlite3
*.db

# Flask
instance/
*.pyc
.env

# Virtual environment
venv/
env/

# IDE & Pytest
.vscode/
.idea/
.pytest_cache/

# Logs
*.log

# Compiled files
*.exe
*.dll
*.so
*.dylib

# Screenshots & temporary files
image*.png
.DS_Store
