services:
  mafia_app:
    image: voiceofdarkness/mafia-game:latest
    container_name: mafia-game
    expose:
      - "8000"
    volumes:
      - static_volume:/app/static
    env_file:
      - .env
    networks:
      - web_gateway

networks:
  web_gateway:
    external: true

volumes:
  static_volume:
